* {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9B454;
    height: 100px;
}
.title h1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    flex-wrap: wrap;
    margin-top:50px ;
}
.content-title{
    font-size: 25px;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 10px;
    color:#AF2F64;
}
.content-form .content-form {
    width: 35%;
    margin-left: 40px;
}
.content-form .item-button{
    border-radius: 15px;
    background: #AF2F64;
    padding: 12px 25px;
    border: none;
    color: white;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}
.table-content {
    width: 60%;

}


